<div class="flex">
  <div class=" flex flex-col shadow-xl shadow-gray-400 border-r-1 border-r-gray-200">
    <span class="py-3 text-3xl font-medium bg-gradient-to-b from-orange-200 to-orange-500 text-white text-center">SLACA
      2019</span>
    <img src="../assets/logo.png" alt="13 slaca logo" class="w-60">
    <nav class="mt-2">
      <ul class="text-[15px] text-gray-600">
        <li
          class="capitalize pl-5 py-1 border-b border-b-gray-300 cursor-pointer hover:bg-orange-100 hover:border-l-4 hover:border-l-orange-400 transition-all">
          apresentação</li>
        <li
          class="capitalize pl-5 py-1 border-b border-b-gray-300 cursor-pointer hover:bg-orange-100 hover:border-l-4 hover:border-l-orange-400 transition-all">
          comitês</li>
        <li
          class="capitalize pl-5 py-1 border-b border-b-gray-300 cursor-pointer hover:bg-orange-100 hover:border-l-4 hover:border-l-orange-400 transition-all">
          autores</li>
        <li
          class="capitalize pl-5 py-1 border-b border-b-gray-300 cursor-pointer hover:bg-orange-100 hover:border-l-4 hover:border-l-orange-400 transition-all">
          eixos temáticos</li>
        <li
          class="capitalize pl-5 py-1 border-b border-b-gray-300 cursor-pointer bg-orange-100 border-l-4 border-l-orange-400">
          trabalhos</li>
        <li
          class="capitalize pl-5 py-1 border-b border-b-gray-300 cursor-pointer hover:bg-orange-100 hover:border-l-4 hover:border-l-orange-400 transition-all">
          contato</li>
      </ul>
    </nav>
  </div>
  <div class="flex flex-col w-full">
    <div class="bg-[#FDF1EB] px-8 py-2 flex items-center flex-wrap justify-between">
      <div class="flex flex-col items-start  text-gray-700">
        <span class="text-sm leading-4">Anais do Simpósio Latino Americano de Ciências de Alimentos </span>
        <span class="text-[22px] leading-5">Anais do 13º Simpósio Latino Americano de Ciência de Alimentos </span>
        <span class="text-sm leading-4">ISSN: 1234-5678</span>
      </div>
      <div class="flex min-[320px]:gap-1 lg:gap-6">
        <div class="py-1 px-2 border border-gray-300 rounded-sm flex">
          <lucide-icon name="globe" class="text-gray-600"></lucide-icon>
          <select name="lingua" id="lingua"
            class="bg-transparent  text-gray-600 focus-visible:outline-none before:content-[`<lucide-icon name='globe'></lucide-icon>]">
            <option value="pt" selected>PT,BR</option>
            <option value="en">EN,US</option>
            <option value="es">ES,ES</option>
          </select>
        </div>
        <div class="flex justify-end">
          <img src="../assets/user.jpg" alt="user" class="h-10 w-10 rounded-full">
        </div>
      </div>
    </div>
    <div class="xl:px-11 lg:px-6 pt-5">
      <div class="flex justify-between">
        <div class="w-[67%] flex flex-col gap-3">
          <h2 class="font-bold text-orange-500 text-xl">Análise sensorial de preparações funcionais desenvolvidas para
            escolares
            entre 09 e 15 anos, do município de
            Campinas/SP </h2>

          <img src="../assets/image-video.png" alt="imagem video" class="w-full h-[439px]">
        </div>
        <div class="flex flex-col max-w-[242px] w-1/3 gap-2">
          <div class="flex gap-2 justify-end">
            <span class="flex items-center gap-2 py-1 px-3 rounded-md font-medium text-white bg-orange-500">
              <lucide-icon name="download"></lucide-icon>
              Download
            </span>
            <span class="bg-orange-500 py-1 px-2 rounded-md text-white">
              <lucide-icon name="star"></lucide-icon>
            </span>
            <div class="bg-orange-500 py-1 px-2 rounded-md cursor-pointer">
              <span class="text-orange-500 bg-white rounded-full font-bold text-sm p-[2px]">
                doi
              </span>
            </div>
          </div>
          <span class="uppercase text-orange-500 font-medium text-end">como citar esse trabalho?</span>
          <div class="w-[100%] border-gray-200 border">
            <div class=" px-5 py-2 capitalize text-lg font-medium text-gray-700 bg-[#FDF1EB] border-gray-200 border-b">
              detalhes
            </div>
            <div class="detalhe p-4 text-xs text-[#5C5C5C] max-h-[390px] overflow-auto">
              <p class="leading-4">
                Tipo de Apresentação: <b>Pôster</b>
              </p>
              <p class="leading-4">
                Eixo temático: <b>Alimentação e saúde (AS)</b>
              </p>
              <p class="leading-4 mb-5">
                Palavras-chaves: <b>Alimentos funcionais, alimentação escolar.</b>
              </p>

              <p class="leading-4">
                <b>Autores:</b>
              </p>
              <p class="leading-4">
                Galileo Galilei¹
              </p>
              <p class="leading-4">
                Berta Lange de Morretes²
              </p>
              <p class="leading-4">
                Isaac Newton³
              </p>
              <p class="leading-4">
                Cesar Lattes¹
              </p>
              <p class="leading-4 mb-5">
                Stephen Hawking⁴
              </p>

              <p class="text-[#ADA0A0] leading-4">
                ¹Universidade Estadual de Campinas
              </p>
              <p class="text-[#ADA0A0] leading-4">
                ²Universidade de São Paulo
              </p>
              <p class="text-[#ADA0A0] leading-4">
                ³Instituto Nacional de Pesquisas Espaciais
              </p>
              <p class="text-[#ADA0A0] leading-4">
                ⁴Universidade Federal do Rio de Janeiro
              </p>
              <p class="text-[#ADA0A0] leading-4">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. At, dolore tempore! Nemo esse minima omnis
                obcaecati, perferendis temporibus ipsum recusandae atque error, id libero eaque debitis soluta unde
                veritatis dolorem.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="xl:px-11 lg:px-6 pt-5">
      <section class="border border-gray-200 mb-8">
        <div class=" px-5 py-2 capitalize text-lg font-medium text-gray-700 bg-[#FDF1EB] border-gray-200 border-b">
          resumo
        </div>
        <div class="p-4 flex flex-col items-start">
          <p class="text-[#5C5C5C] leading-[22.5px] text-sm">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam provident alias libero quo repellat officiis
            dolores nesciunt asperiores ipsa iusto. Minima vero soluta consequuntur rerum assumenda est harum labore
            asperiores?
            Officiis id repellat maiores impedit nihil voluptatem eius recusandae. Laborum id expedita quae repudiandae
            enim, obcaecati iure provident blanditiis beatae incidunt. Cumque dolorem animi fugit, quae tenetur autem
            nobis esse?
          </p>
          <span
            class="cursor-pointer font-medium btn-show-more bg-gradient-to-b from-orange-300 to-orange-500 text-white text-center p-2 order-last capitalize rounded-md  hover:opacity-80 transition"
            (click)="mostrarTexto = !mostrarTexto">
            {{mostrarTexto ? 'ocultar' : 'ver mais'}}
          </span>
          <p class="hidden text-[#5C5C5C] leading-[22.5px] text-sm mt-8" [class.mostrar-texto]="mostrarTexto">
            Aperiam officiis ducimus tempora at corporis quaerat minus eligendi nemo commodi possimus dolor, autem porro
            debitis.Eaque quisquam ullam mollitia, corporis harum adipisci perferendis dolor unde nulla, incidunt
            accusamus ipsam. Velit, voluptatem? In, quis ullam cupiditate porro voluptates nam architecto dicta saepe at
            illo expedita cum, natus soluta? Eveniet debitis autem optio atque ea necessitatibus temporibus quasi non
            vitae eius. Deleniti sapiente nostrum optio dolore consectetur quibusdam, praesentium aliquam adipisci quae
            quos. Facilis ad accusamus, dolores dignissimos assumenda velit, sed minima repudiandae architecto quia
            facere libero iure perspiciatis natus corporis.
          </p>
        </div>
      </section>
      <section class="border border-gray-200 mb-8">
        <div class=" px-5 py-2 capitalize text-lg font-medium text-gray-700 bg-[#FDF1EB] border-gray-200 border-b">
          discussões
        </div>
        <div class="p-4">
          <!-- inicial -->
          <div class="mb-8 border-b border-gray-200 block" *ngIf="criarTopico;">
            <div class="flex flex-col items-center gap-6 relative mb-10">
              <p class="text-orange-500 font-bold text-lg">Compartilhe suas ideias ou dúvidas com os autores!</p>
              <div class="flex gap-6">
                <lucide-icon name="messages-square" class="bg-gray-200 p-1 rounded-md" size="40"></lucide-icon>
                <lucide-icon name="lightbulb" class="bg-gray-200 p-1 rounded-md" size="40"></lucide-icon>
                <lucide-icon name="hand-heart" class="bg-gray-200 p-1 rounded-md" size="40"></lucide-icon>
              </div>
              <p class="text-center text-sm text-[#595959] w-2/3">Sabia que o maior estímulo no desenvolvimento
                científico e cultural é a curiosidade? Deixe seus
                questionamentos ou sugestões para o autor!</p>
              <span
                class="cursor-pointer btn-create-topic bg-gradient-to-b  from-orange-300 to-orange-500 text-white text-center px-4 py-1 rounded-md font-medium shadow-md absolute -bottom-14 hover:opacity-85"
                (click)="criarTopico = !criarTopico; topicoCriado = !topicoCriado
                 ">criar tópico</span>
            </div>
          </div>
          <!-- Formulario para criação do topico -->
          <div class="mb-8 border-b border-gray-200" *ngIf="topicoCriado;">
            <div class="flex flex-col items-center gap-6 relative mb-10">
              <p class="text-lg text-[#5C5C5C]">Tem uma dúvida ou sugestão? Compartilhe seu feedback com os autores!</p>


              <form class="flex flex-col w-full" [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="flex flex-col mb-2">
                  <label for="Assunto" class="text-orange-500 font-bold text-base ml-1 mb-1">Assunto</label>
                  <input type="text" placeholder="Defina um tópico sucinto para notificar os autores..." id="Assunto"
                    class="py-2 px-4 subject border border-gray-200 rounded-md outline-none" name="assunto"
                    formControlName="assunto">
                </div>
                <div class="flex flex-col">
                  <label for="Conteudo" class="text-orange-500 font-bold text-base ml-1 mb-1">Conteúdo</label>
                  <textarea id="Conteudo"
                    class="py-2 px-4 border-l border-r border-t border-gray-200 rounded-t-md outline-none resize-none"
                    rows="4" name="conteudo" formControlName="conteudo" id="conteudo"></textarea>
                  <div class="bg-[#EAF1F2] flex justify-end border border-gray-200 rounded-b-md ">
                    <button
                      class="self-end bg-gradient-to-b from-orange-300 to-orange-500 text-white text-center w-52 py-2 font-medium"
                      type="submit">Enviar</button>
                  </div>
                </div>
              </form>


            </div>
          </div>
          <!-- Topico enviado -->
          <div class="mb-8 border-b border-gray-200 block" *ngIf="topicoEnviado;">
            <div class="flex flex-col items-center gap-6 relative mb-10">
              <p class="text-orange-500 font-bold text-lg">Seu tópico foi enviado com sucesso! :D</p>
              <p class="text-center text-sm text-[#595959] w-2/3">Agradecemos por sua contribuição, uma notificação será
                enviada ao seu email assim que seu tópico for respondido!</p>

              <span
                class="cursor-pointer bg-gradient-to-b from-orange-300 to-orange-500 text-white text-center px-4 py-1 rounded-md font-medium shadow-md absolute -bottom-14 hover:opacity-85"
                (click)="topicoEnviado= !topicoEnviado; topicoCriado = !topicoCriado
                 ">criar tópico</span>
            </div>
          </div>
          <!-- novos topicos -->
          <div class=" px-6 py-4 shadow-lg border border-gray-200 rounded-md flex flex-col mb-5 relative"
            *ngFor="let topico of novosTopicos">
            <div
              class="absolute w-full h-full bg-gray-100/60 top-0 left-0 rounded-md backdrop-blur-sm flex flex-col justify-center items-center">
              <lucide-icon name="check-check" class="text-[#707070]"></lucide-icon>
              <span class="text-lg text-[#707070]">Aguardando feedback dos autores</span>
              <span class="text-sm text-[rgb(237,120,57)]">Editar tópico</span>
            </div>
            <span class=" text-orange-500 font-medium text-lg ">{{topico.assunto}}</span>
            <p class="text-[#4D4D4D] text-sm mb-3">{{topico.conteudo}}</p>
          </div>
          <!-- topicos existentes -->
          <div class="px-6 py-4 shadow-lg border  border-gray-200 rounded-md flex flex-col mb-5  answered-topic"
            *ngFor="let topico of topicos">
            <span class=" text-orange-500 font-medium text-lg cursor-pointer ops-topic-subject"
              (click)="clickMostraResposta(topico)">{{topico.titulo}}</span>
            <span class="text-xs capitalize mb-2">{{topico.autor}}</span>
            <p class="text-[#4D4D4D] text-sm mb-3">{{topico.mensagem}}</p>
            <div class="flex gap-2 ">
              <lucide-icon name="Ellipsis-Vertical" class="text-orange-500 cursor-pointer"></lucide-icon>
              <lucide-icon name="Heart"
                class="bg-orange-500 shadow-md text-white px-1 rounded-md cursor-pointer"></lucide-icon>
              <span class="text-[#5C5C5C] cursor-pointer">{{topico.like <= 0 ? '' : topico.like + ' like' }}</span>

                  <span class="text-[#5C5C5C] cursor-pointer " (click)="clickMostraResposta(topico)">
                    {{topico.resposta.length <= 0 ? '' : topico.resposta.length + ' resposta' }} </span>

            </div>
            <!-- comentarios -->
            <section *ngIf="topico.mostraResposta" class="comments-container">
              <div class="mt-4 border border-gray-200 rounded-md flex flex-col p-6"
                *ngFor="let resposta of topico.resposta">
                <div class="flex justify-between">
                  <span class="text-[#5C5C5C] font-bold text-sm">
                    {{resposta.nome}}
                  </span>
                  <div class="text-[#ED7839] ">
                    <span *ngIf="resposta.autor" class="flex gap-4 font-bold text-sm">
                      {{resposta.autor ? 'Autor' : null}}
                      <lucide-icon name="check-check"></lucide-icon>
                    </span>
                    <span *ngIf="resposta.coAutor" class="flex gap-4 font-bold text-sm">
                      {{resposta.coAutor ? 'Coautor' : null}}
                      <lucide-icon name="check-check"></lucide-icon>
                    </span>
                  </div>
                </div>
                <p class="text-[#5C5C5C] text-sm mt-2">{{resposta.mensagem}}</p>
              </div>
            </section>
          </div>
        </div>
      </section>
      <footer class="flex border-t border-gray-200 px-2 pb-10 pt-4 gap-4">
        <div class="flex flex-col">
          <img src="../assets/galoa-logo.png" alt="galoa Logo" class="max-h-24 max-w-72">
          <span class="bg-violet-950/90 text-white rounded-md px-2 py-1 hover:bg-violet-950/85 transition">saiba
            mais</span>
        </div>
        <div class="mt-2">
          <p class="text-sm mb-3"><b>Preservar a memória do evento e ampliar o acesso, ao conhecimento cientifico</b>
            gerado em eventos é a
            razão de ser da plataforma Galoá Proceedings.</p>
          <p class="text-sm">Os trabalhos publicados aqui têm maior alcance e ficam disponiveis para toda a comunidade
            cientifica,
            mantendo aceso o debate científico fomentado pelos encontros e aumentando o impacto do evento.</p>
        </div>
      </footer>
    </div>
  </div>
</div>