.detalhe::-webkit-scrollbar {
    height: 4px;
    width: 3px;
}

.detalhe::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #E7E7E7;
}

.detalhe::-webkit-scrollbar-track:active {
    background-color: #E7E7E7;
}

.detalhe::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #BFBFBF;
}

.detalhe::-webkit-scrollbar-thumb:active {
    background-color: #BFBFBF;
}

.mostrar-texto{
    display: block;
}